snap does not respond correctly to a HEAD request

I have a client that is attempting to issue a HEAD request to a snap app, and the app responds with a non-empty body no matter what I do.

Request:

```
HEAD /get HTTP/1.1
Host: localhost

```

Response:

```
HTTP/1.1 200 OK
Server: Snap/0.9.4.2
Date: Fri, 25 Apr 2014 02:51:09 GMT
Transfer-Encoding: chunked

0
```

According to [RFC 2616 section 9.4](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4), **The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response.**

Here is a correct response to a HEAD from a different server:

```
HTTP/1.1 200 OK
Access-Control-Allow-Origin: *
Content-length: 215
Content-Type: application/json
Date: Fri, 25 Apr 2014 02:54:39 GMT
Server: gunicorn/0.17.4
Connection: keep-alive

```

Notice that instead of an _empty_ chunked response body as snap sends back, there is **no** response body.
